---
import IconShare from "~/assets/images/icons/share.svg";
import IconFacebook from "~/assets/images/icons/social-media/facebook.svg";
import IconX from "~/assets/images/icons/social-media/x.svg";
import IconWhatsApp from "~/assets/images/icons/social-media/whatsapp.svg";
import IconEmail from "~/assets/images/icons/social-media/email.svg";
import IconLink from "~/assets/images/icons/social-media/link.svg";

const currentPageUrl = Astro.url.href;
const emailSubject = `Check this out car!`;
const emailBody = `I found an awesome ride for you!

Check out the details here:

${currentPageUrl}

Regards`;

const emailSubjectEncoded = encodeURIComponent(emailSubject);
const emailBodyEncoded = encodeURIComponent(emailBody);

const SocialUrls = {
	Facebook: `https://www.facebook.com/sharer.php?u=${currentPageUrl}`,
	"X/Twitter": `https://twitter.com/intent/tweet?text=Check%20out%20this%20awesome%20ride!%20${currentPageUrl}`,
	WhatsApp: `whatsapp://send/?text=${currentPageUrl}`,
	Email: `mailto:?subject=${emailSubjectEncoded}&body=${emailBodyEncoded}`,
};
---

<div class="relative inline-block text-left">
	<div>
		<button
			type="button"
			class="font-medium block text-sm transition hover:text-gray-500"
			id="button-social-share"
			aria-expanded="true"
			aria-haspopup="true"
		>
			<IconShare class="size-3 inline-block mr-1 -mt-0.5" />
			<span>Share</span>
		</button>
	</div>

	<div
		id="menu-social-share"
		class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none ease-in duration-75 transform opacity-0 scale-95"
		role="menu"
		aria-orientation="vertical"
		aria-labelledby="button-social-share"
		tabindex="-1"
	>
		<div class="py-0" role="none">
			{
				Object.entries(SocialUrls).map(([key, value], index) => (
					<a href={value} class="block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem" tabindex="-1">
						{key === "Facebook" && <IconFacebook class="size-5 inline-block mr-1 -mt-0.5" />}
						{key === "X/Twitter" && <IconX class="size-5 inline-block mr-1 -mt-0.5" />}
						{key === "WhatsApp" && <IconWhatsApp class="size-5 inline-block mr-1 -mt-0.5" />}
						{key === "Email" && <IconEmail class="size-5 inline-block mr-1 -mt-0.5" />}
						{key}
					</a>
				))
			}
			<button
				id="button-copy-link"
				type="button"
				class="block w-full text-left px-4 py-2 text-sm hover:bg-gray-100"
				role="menuitem"
				tabindex="-1"
			>
				<IconLink class="size-5 inline-block mr-1 -mt-0.5" />
				Copy link
			</button>
		</div>
	</div>
</div>

<script>
	document.addEventListener("astro:page-load", function () {
		const buttonSocialShare = document.getElementById("button-social-share")!;

		if (!buttonSocialShare) {
			return;
		}

		const menuSocialShare = document.getElementById("menu-social-share")!;
		const buttonCopyLink = document.getElementById("button-copy-link")!;

		// Create a function to open and close the menu
		function openMenu() {
			menuSocialShare.classList.remove("ease-in", "duration-75", "transform", "opacity-0", "scale-95");
			menuSocialShare.classList.add("ease-out", "duration-100", "transform", "opacity-100", "scale-100");
		}

		function closeMenu() {
			menuSocialShare.classList.remove("ease-out", "duration-100", "transform", "opacity-100", "scale-100");
			menuSocialShare.classList.add("ease-in", "duration-75", "transform", "opacity-0", "scale-95");
		}

		buttonSocialShare.addEventListener("click", () => {
			if (menuSocialShare.classList.contains("opacity-100")) {
				closeMenu();
			} else {
				openMenu();
			}
		});

		buttonCopyLink.addEventListener("click", () => {
			navigator.clipboard.writeText(window.location.href);
			closeMenu();
		});

		// Close the menu when clicking outside
		document.addEventListener("click", (event) => {
			if (!menuSocialShare.contains(event.target as Node) && !buttonSocialShare.contains(event.target as Node)) {
				closeMenu();
			}
		});
	});
</script>
