---
import type { CardBlogPost as Props } from "~/types";
import { blogCategories } from "~/content.config";
import { Image } from "astro:assets";
import Pill from "./Pill.astro";

const { post, index } = Astro.props;
const postData = post;
---

<article class="group">
	<a href={`/blog/${postData.id}`}>
		<Image
			src={postData.data.image}
			alt={postData.data.imageAlt}
			class="rounded-lg aspect-[5/3] object-cover object-center w-full"
			loading={index < 2 ? "eager" : "lazy"}
			fetchpriority={index < 2 ? "high" : "auto"}
			transition:name={`post-image-${postData.id}`}
		/>
	</a>

	<div class="group space-y-4 mt-4 prose max-w-none">
		<div class="flex items-center gap-x-4 justify-between">
			<time
				class="text-sm text-gray-600"
				datetime={post.data.publishDate.toISOString()}
				transition:name={`post-date-${post.id}`}
			>
				Posted on: {post.data.publishDate.toLocaleDateString()}
			</time>
			<Pill title={post.data.category} color={blogCategories[postData.data.category]} />
		</div>

		<h2 class="h5" transition:name={`post-title-${postData.id}`}>
			<a class="no-underline font-bold hover:underline" href={`/blog/${postData.id}`}>{postData.data.title}</a>
		</h2>

		<p class="text-pretty line-clamp-4">
			{postData.data.excerpt}
		</p>

		<a class="no-underline hover:underline block font-semibold" href={`/blog/${postData.id}`}>Read more &rarr;</a>
	</div>
</article>
