---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Pill from "./Pill.astro";
import { blogCategories } from "~/content.config";
const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
	(a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime()
);
const latestPosts = sortedPosts.slice(0, 4);

if (latestPosts.length === 0) {
	return;
}
---

<div class="grid grid-cols-1 gap-4 gap-y-8 gap-x-20 lg:grid-cols-2 lg:grid-rows-3">
	<div class="lg:row-span-3 max-lg:border-b max-lg:border-b-gray-200 max-lg:pb-8">
		<a href={`/blog/${latestPosts[0].id}`}>
			<Image src={latestPosts[0].data.image} alt={latestPosts[0].data.title} class="rounded-lg" />
		</a>

		<div class="group space-y-4 mt-4">
			<Pill title={latestPosts[0].data.category} color={blogCategories[latestPosts[0].data.category]} />

			<h2 class="h3">
				<a class="hover:underline" href={`/blog/${latestPosts[0].id}`}>{latestPosts[0].data.title}</a>
			</h2>

			<p class="text-pretty line-clamp-4">
				{latestPosts[0].data.excerpt}
			</p>

			<a class="hover:underline block font-semibold" href={`/blog/${latestPosts[0].id}`}>Read more &rarr;</a>
		</div>
	</div>

	{
		latestPosts.slice(1).map((post, index) => (
			<>
				<div
					class={`group space-y-4 max-w-xl ${index === 2 || index === 1 ? "border-t border-gray-200 pt-8 lg:-mt-8" : ""}`}
				>
					<Pill title={post.data.category} color={blogCategories[post.data.category]} />

					<h2 class="h5">
						<a class="hover:underline" href={`/blog/${post.id}`}>
							{post.data.title}
						</a>
					</h2>

					<p class="text-pretty lg:text-base line-clamp-2">{post.data.excerpt}</p>

					<a class="hover:underline block font-semibold" href={`/blog/${post.id}`}>
						Read more &rarr;
					</a>
				</div>
			</>
		))
	}
</div>
