---
import type { PresetBarProps as Props } from "~/types";
import IconClose from "~/assets/images/icons/close.svg";

const { params } = Astro.props;

if (!params) return;

const allowedParams = [
	"make",
	"color",
	"price",
	"model",
	"condition",
	"fuelType",
	"transmission",
	"bodyType",
	"mileage",
	"year",
];

const filteredParams = params.filter(([key]) => allowedParams.includes(key));
---

<div class="my-4 max-lg:overflow-x-scroll" style="scrollbar-width: none;">
	<ul class="flex lg:flex-wrap gap-2 flex-nowrap">
		{
			filteredParams.map(([key, value]: [string, string]) => (
				<li class="rounded-full bg-white lg:bg-gray-800 text-gray-800 lg:text-white px-2.5 py-1 text-xs lg:text-sm flex items-center gap-x-1 lg:gap-x-2 max-lg:opacity-90">
					<button type="button" class={`preset-remove-${key}`}>
						<span class="sr-only">Remove filter</span>
						<IconClose class="size-2.5 rounded-full bg-gray-800 lg:bg-white text-white lg:text-gray-800" />
					</button>
					<span>{key}:</span>
					<span class="font-bold">{value}</span>
				</li>
			))
		}
	</ul>
</div>

<script>
	document.addEventListener("astro:page-load", function () {
		const searchParams = new URLSearchParams(window.location.search);

		for (const [key, value] of searchParams.entries()) {
			const removeButtons = document.querySelectorAll(`.preset-remove-${key}`);

			removeButtons.forEach((removeButton) => {
				removeButton.addEventListener("click", () => {
					searchParams.delete(key);
					const newUrl = `${window.location.pathname}?${searchParams.toString()}`;
					window.location.href = newUrl;
				});
			});
		}
	});
</script>
