---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import IconPhone from "~/assets/images/icons/phone.svg";
import IconMail from "~/assets/images/icons/social-media/email.svg";
const team = await getCollection("team");
---

<ul role="list" class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-3">
	{
		team.map((member) => (
			<li class="text-center max-lg:max-w-xs mx-auto">
				<Image
					src={member.data.image}
					alt={`image of ${member.data.name}`}
					class="mx-auto xl:size-72 rounded-full"
				/>
				<span class="mt-6 block text-lg font-semibold tracking-tight">{member.data.name}</span>
				<p class="text-base text-gray-600">{member.data.role}</p>
				<ul role="list" class="mt-6 flex justify-center gap-x-6">
					<li>
						<a href={`tel:${member.data.phone}`}>
							<span class="sr-only">Phone</span>
							<IconPhone class="text-gray-500 hover:bg-gray-200 transition bg-gray-100 p-2 size-10 rounded-full" />
						</a>
					</li>
					<li>
						<a href={`mailto:${member.data.email}`}>
							<span class="sr-only">Email</span>
							<IconMail class="text-gray-500 hover:bg-gray-200 transition bg-gray-100 p-2 size-10 rounded-full" />
						</a>
					</li>
				</ul>
			</li>
		))
	}
</ul>
