---
import type { Testimonial, TestimonialProps as Props } from "~/types";
import { getEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import StarRating from "~/components/StarRating.astro";

const { id } = Astro.props;

const testimonial = id
	? ((await getEntry("testimonials", id)) as Testimonial)
	: (await getCollection("testimonials"))[Math.floor(Math.random() * (await getCollection("testimonials")).length)];

if (!testimonial) {
	throw new Error("No testimonials found");
}
---

<section class="py-24">
	<figure class="mx-auto max-w-3xl">
		<p class="sr-only">{testimonial.data.starRating} out of 5 stars</p>
		<StarRating rating={testimonial.data.starRating} />
		<blockquote class="mt-8 text-xl font-semibold">
			<p>“{testimonial.data.description}”</p>
		</blockquote>
		<figcaption class="mt-8 flex items-center gap-x-6">
			<Image src={testimonial.data.img} alt={testimonial.data.author} class="size-12 rounded-full bg-gray-50" />
			<div class="text-base">
				<div class="font-semibold">{testimonial.data.author}</div>
				<div class="text-sm text-gray-600">{testimonial.data.location}</div>
			</div>
		</figcaption>
	</figure>
</section>
