---
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Button from "~/components/Button.astro";
import Hero from "~/components/Hero.astro";
import Faq from "~/components/Faq.astro";
import Heading from "~/components/Heading.astro";
import WidgetSearch from "~/components/WidgetSearch.astro";
import Grid from "~/components/Grid.astro";
import GridItem from "~/components/GridItem.astro";
import ShowPosts from "~/components/ShowPosts.astro";
import Team from "~/components/Team.astro";
import Stats from "~/components/Stats.astro";

// Images
import ImageCarDealer from "~/assets/images/pexels-shkrabaanthony-7144179.jpg";
import ImageHeadingBackground from "~/assets/images/pexels-jeshoots-com-147458-451590.jpg";
import ShowCars from "~/components/ShowCars.astro";
import ImageOne from "~/assets/images/pexels-leif-bergerson-99376750-9764731.webp";
import ImageTwo from "~/assets/images/pexels-zenzazione-2922140.webp";
---

<Layout pageTitle="Home">
	{/* Main Heading */}
	<Section class:list={"relative"}>
		<Image
			src={ImageHeadingBackground}
			alt="Heading background"
			class:list={"absolute inset-0 w-full h-full object-cover"}
		/>
		<div class="absolute inset-0 w-full h-full object-cover bg-gray-800/80"></div>
		<Container class:list={"relative z-10"}>
			<Heading class:list={"prose-invert max-w-4xl"}>
				<h1 slot="heading-title" class="mb-0 lg:text-7xl text-balance">
					Find your next car in our exclusive collection
				</h1>
				<p slot="heading-content">
					Search for your next car here. We have a wide range of cars for sale. Browse through our collection
					and find the perfect car that suits your needs and budget.
				</p>
			</Heading>
			<WidgetSearch />
		</Container>
	</Section>

	{/* Hero */}
	<Section>
		<Container>
			<Hero>
				<div slot="hero-left" class="prose lg:max-w-2xl">
					<h2>Welcome to our car dealer!</h2>
					<p>
						Find your next car here. We have a wide range of cars for sale. Browse through our collection
						and find the perfect car that suits your needs and budget.
					</p>

					<Button href="/cars" class:list={"mt-4"}>View all cars</Button>
				</div>
				<div slot="hero-right">
					<Image src={ImageCarDealer} alt="Car dealer" />
				</div>
			</Hero>
		</Container>
	</Section>

	{/* Grid */}
	<Section>
		<Container>
			<Grid>
				<GridItem image={ImageOne} imageAlt="Car dealer" span={2} link="/cars" As="a" xl>
					<h2>Featured cars</h2>
					<p>
						Discover the ultimate driving experience with our exclusive collection of featured cars. Whether
						you're looking for a sleek sports car, a reliable family vehicle, or an eco-friendly hybrid, we
						have something for everyone. Our extensive inventory is carefully curated to ensure that you
						find the perfect match for your lifestyle and budget.
					</p>
					<Button As="button" type="button" color="white-outline" class:list={"mt-4 group-hover:bg-white/10"}
						>View all cars</Button
					>
				</GridItem>

				<GridItem image={ImageTwo} imageAlt="Car dealer" link="/cars" As="a">
					<h3>Featured cars</h3>
					<p>
						Discover the ultimate driving experience with our exclusive collection of featured cars. Whether
						you're looking for a sleek sports car, a reliable family vehicle, or an eco-friendly hybrid, we
						have something for everyone.
					</p>
					<Button As="button" type="button" color="white-outline" class:list={"mt-4 group-hover:bg-white/10"}
						>View all cars</Button
					>
				</GridItem>

				<GridItem>
					<h3>Featured cars</h3>
					<p>
						Discover the ultimate driving experience with our exclusive collection of featured cars. Whether
						you're looking for a sleek sports car, a reliable family vehicle, or an eco-friendly hybrid, we
						have something for everyone.
					</p>
				</GridItem>
			</Grid>
		</Container>
	</Section>

	{/* Hero */}
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Hero invert>
				<div slot="hero-left" class="prose lg:max-w-2xl">
					<h2>Welcome to our car dealer!</h2>
					<p>
						Find your next car here. We have a wide range of cars for sale. Browse through our collection
						and find the perfect car that suits your needs and budget.
					</p>
				</div>
				<div slot="hero-right">
					<Image src={ImageCarDealer} alt="Car dealer" />
				</div>
			</Hero>
		</Container>
	</Section>

	{/* Cars */}
	<Section class:list={"bg-blue-50"}>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="mb-0">Featured cars</h2>
				<p slot="heading-content">
					Search for your next car here. We have a wide range of cars for sale. Browse through our collection
					and find the perfect car that suits your needs and budget.
				</p>
			</Heading>

			<ShowCars slugs={["audi-tt-coupe", "porsche-911", "volkswagen-polo-gti"]} />
		</Container>
	</Section>

	{/* Stats */}
	<Section>
		<Container>
			<Heading class:list={"text-center mx-auto"}>
				<h2 slot="heading-title" class="text-balance">Why choose us?</h2>
				<p slot="heading-content">
					We are the leading car dealer in the country. With over 20 years of experience, we have helped
					thousands of customers find their dream car.
				</p>
			</Heading>

			<Stats
				items={[
					{
						title: "Cars in stock",
						value: "259",
						animateNumber: true,
						animateFrom: 100,
					},
					{
						title: "Satified customers",
						value: "1088",
						animateNumber: true,
						animateFrom: 800,
					},
					{
						title: "Experience",
						value: "20+ years",
					},
				]}
			/>
		</Container>
	</Section>

	{/* CTA */}
	<Section class:list={"bg-gradient-to-br from-gray-900 to-gray-700"}>
		<Container>
			<Heading class:list={"mb-0 lg:mb-0 prose-invert text-center mx-auto"}>
				<h2 slot="heading-title">Can't find the ideal car?</h2>

				<p slot="heading-content">
					Our team is here to help you find the perfect car that suits your needs and budget. Whether you're
					looking for a sleek sports car, a reliable family vehicle, or an eco-friendly hybrid, we have
					something for everyone.
				</p>

				<Button href="/contact" color="white" class:list={"mt-8"}>Contact us</Button>
			</Heading>
		</Container>
	</Section>

	{/* Cars */}
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="mb-0">Recent cars</h2>
				<p slot="heading-content">
					Search for your next car here. We have a wide range of cars for sale. Browse through our collection
					and find the perfect car that suits your needs and budget.
				</p>
			</Heading>

			<ShowCars ui="grid" slugs={["audi-tt-coupe", "porsche-911", "volkswagen-polo-gti"]} />
		</Container>
	</Section>

	{/* News */}
	<Section>
		<Container>
			<Heading class:list={"max-w-3xl"}>
				<h2 slot="heading-title">Latest news</h2>

				<p slot="heading-content">
					Stay up to date with the latest news and updates from our car dealer. Read our blog posts to learn
					more about our featured cars, special offers, and industry news.
				</p>
			</Heading>

			<ShowPosts />
		</Container>
	</Section>

	{/* FAQ */}
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading class:list={"max-w-3xl mx-auto lg:text-center"}>
				<h2 slot="heading-title">Welcome to our car dealer!</h2>

				<p slot="heading-content">
					Find your next car here. We have a wide range of cars for sale. Browse through our collection and
					find the perfect car that suits your needs and budget.
				</p>
			</Heading>

			<Faq
				items={[
					{
						question: "What's the best thing about Switzerland?",
						answer: "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
					},
					{
						question: "What do you call a fake noodle?",
						answer: "An impasta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
					},
					{
						question: "What do you call a belt made out of watches?",
						answer: "A waist of time. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
					},
				]}
			/>
		</Container>
	</Section>

	{/* Team */}
	<Section>
		<Container>
			<Heading class:list={"max-w-3xl mx-auto lg:text-center"}>
				<h2 slot="heading-title">Our team</h2>

				<p slot="heading-content">
					Meet the team behind our car dealer. Our dedicated staff is here to help you find the perfect car
					that suits your needs and budget. Whether you're looking for a sleek sports car, a reliable family
					vehicle, or an eco-friendly hybrid, we have something for everyone.
				</p>
			</Heading>

			<Team />
		</Container>
	</Section>
</Layout>
