---
import type { LoanCalculatorProps as Props } from "~/types";
import { getCurrencySymbol } from "~/utils/helpers";
import { interestRate, siteName } from "~/data/config";
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";
import IconCalculator from "~/assets/images/icons/calculator.svg";

const currency = getCurrencySymbol();
const { price } = Astro.props;
---

<form id="form-loan-calculator">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8">
		<div class="lg:col-span-1">
			<label for="amount">贷款金额</label>
			<div class="mt-1 relative rounded-md shadow-sm">
				<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
					<span class="text-gray-500 sm:text-sm">{currency}</span>
				</div>
				<input
					type="number"
					min="0"
					step="1"
					name="amount"
					id="loan-amount"
					class="outline-none shadow-sm pl-7"
					placeholder="0.00"
					aria-describedby="loan-amount-description"
					required
					value={price}
				/>
			</div>
			<p class="mt-2 text-xs text-gray-500" id="loan-amount-description">您想贷款的金额</p>
		</div>

		<div class="lg:col-span-1">
			<label for="duration"> 贷款期限 </label>
			<div class="grid grid-cols-1">
				<select
					name="duration"
					id="duration"
					required
					class="appearance-none col-start-1 row-start-1 pr-10 outline-none shadow-sm"
				>
					<option value="12">12个月</option>
					<option value="24">24个月</option>
					<option value="36">36个月</option>
					<option value="48">48个月</option>
					<option value="60">60个月</option>
					<option value="72">72个月</option>
				</select>
				<IconChevronDown class="icon-chevron-down" />
			</div>
			<p class="mt-2 text-xs text-gray-500" id="loan-duration-description">The duration of the loan in months</p>
		</div>

		<div class="lg:col-span-1">
			<label for="finalinstallment">最终还款金额</label>
			<div class="mt-1 relative rounded-md shadow-sm">
				<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
					<span class="text-gray-500 sm:text-sm">{currency}</span>
				</div>
				<input
					type="number"
					min="0"
					step="1"
					name="finalinstallment"
					id="loan-final-installment"
					class="pl-7 outline-none shadow-sm"
					placeholder="0.00"
					aria-describedby="loan-final-installment-description"
				/>
			</div>
			<p class="mt-2 text-xs text-gray-500" id="loan-final-installment-description">
				您希望在贷款期限结束时支付的最终金额
			</p>
		</div>

		<div class="lg:col-span-1 flex items-center justify-center">
			<button type="submit" class="button button-black w-full gap-1">
				<IconCalculator class="size-4 -mt-0.5" />
				<span>计算</span>
			</button>
		</div>
	</div>

	<div
		id="loan-calculator-result"
		class="px-0 lg:px-8 bottom-0 max-lg:mt-4 lg:translate-y-1/2 inset-x-0 w-full opacity-0 max-lg:h-0 transition duration-300 lg:absolute"
	>
		<div
			class="bg-white rounded-lg lg:border-2 border-gray-200 p-4 grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8 relative"
		>
			<div>
				<span class="block text-sm font-semibold">每月还款金额</span>
				<span id="loan-monthly-payment" class="block"></span>
			</div>

			<div>
				<span class="block text-sm font-semibold">利息率</span>
				<span class="block">{interestRate}%</span>
			</div>

			<div>
				<span class="block text-sm font-semibold">总还款金额</span>
				<span id="loan-total-payment" class="block"></span>
			</div>

			<div class="lg:absolute bottom-0 lg:translate-y-full">
				<p class="text-xs mt-3 text-gray-500">
					使用此计算器不会构成贷款申请，也不会在您和{siteName}之间创建任何义务。
				</p>
			</div>
		</div>
	</div>
</form>

<script>
	import { actions } from "astro:actions";

	document.addEventListener("astro:page-load", function () {
		const form = document.getElementById("form-loan-calculator") as HTMLFormElement;
		const monthlyPaymentField = document.getElementById("loan-monthly-payment") as HTMLSpanElement;
		const totalPaymentField = document.getElementById("loan-total-payment") as HTMLSpanElement;
		const LoanCalculatorResult = document.getElementById("loan-calculator-result") as HTMLDivElement;
		const wrapper = document.getElementById("form-loan-calculator-wrapper") as HTMLDivElement;

		form?.addEventListener("submit", async (event) => {
			event.preventDefault();

			const formData = new FormData(form);

			try {
				const { data, error } = await actions.getMonthlyInstallment(formData);

				if (error) {
					console.error("Error:", error);
				} else {
					monthlyPaymentField.textContent = data.monthlyInstallment;
					totalPaymentField.textContent = data.totalPayment;
					LoanCalculatorResult.style.opacity = "1";
					LoanCalculatorResult.classList.remove("max-lg:h-0");
					LoanCalculatorResult.classList.add("max-lg:h-auto");
					wrapper.classList.add("lg:pb-16", "lg:mb-16");
				}
			} catch (error) {
				console.error("Fetch error:", error);
			}
		});
	});
</script>
